/* 스케쥴러 css */
body {
  margin: 0px;
  background-image: url("/daily/scheduler/image/background-image.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  margin: 0px;
}

button {
  margin: 0px;
  padding: 0px;
  border: none;
}

#top-bar {
  position: fixed;
  width: 100%;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: solid 1px;
}

.topbar-draw-color {
  background-color: antiquewhite;
}

#current-user-name {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-grow: 1;
}

#menu-open-button {
  cursor: pointer;
  border: none;
  margin-right: 20px;
  background-color: antiquewhite;
}

#date-select-area {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.year-button {
  background-color: rgb(226, 141, 111);
  width: 35px;
  height: 25px;
  border-radius: 5px;
  cursor: pointer;
}

#add-schedule-button {
  background-color: rgb(226, 141, 111);
  width: 60px;
  height: 25px;
  border-radius: 5px;

  margin-left: 30px;
  cursor: pointer;
}

#year-month-box {
  background-color: rgb(226, 141, 111);
  padding-top: 3px;
  padding-bottom: 3px;

  border-radius: 5px;

  margin-left: 10px;
  margin-right: 10px;
}

#year-month-box {
  display: flex;
  width: 150px;
  justify-content: space-evenly;
}

#scheduler-container {
  padding-top: 40px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;

  min-width: 500px;
  width: 95%;
}

#day-bar {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: wheat;
  border-radius: 10px;

  min-width: 100px;
  height: 100%;
}

.day-button {
  width: 95%;
  height: 30px;
  border-radius: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
}

#schedule-area {
  display: flex;
  flex-direction: column;
  width: 55%;
  background-color: rgb(250, 188, 235);
  border-radius: 10px;
}

#schedule-box {
  background-color: aliceblue;
  height: 300px;

  border-radius: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  width: 100%;
  margin-bottom: 10px;
}

#day-label {
  text-align: center;
  align-items: center;
  border-bottom: solid 1px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  background-color: antiquewhite;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal .background {
  width: 100%;
  height: 100%;
  background-color: gray;
  opacity: .6;
}

.hidden {
  display: none;
}

.modalBox {
  position: absolute;
  background-color: #cec2c2;
  width: 400px;
  height: 350px;
  padding: 15px;
  border-radius: 15px;
}

#inside {
  padding-right: 30px;
  padding-bottom: 5px;
  padding-left: 30px;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#schedule-data-form {
  display: flex;
  flex-direction: column;

  width: 100%;
}

#time-select-input {
  margin-right: auto;
}

#schedule-text-area {
  height: 180px;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
}

#button-area {
  display: flex;
  justify-content: center;

  margin-top: 20px;
}

.modal-button {
  width: 60px;
  height: 30px;

  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: rgb(125 127 128);

  color: black
}

#schedule-add-button {
  background-color: green;
  margin-right: 5px;
}

#modal-close-button {
  margin-left: 5px;
}

@media (max-width: 720px) {
  #day-bar {
    display: none;
  }

  #scheduler-container {
    width: 100%;
  }

  #schedule-area {
    width: 90%;    
  }
}
